# general
README.md
CHANGELOG.md

# testing
coverage

# next.js
.next
out

# distribution
lib

# dependencies
node_modules

# editors
.vscode

# eslint bulk suppressions (written by eslint --prune-suppressions)
eslint-suppressions.json
